.CityCard-div{
    float: left;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    box-shadow: 2px 3px 5px #999;
    text-align: center;
}

.CityCard-citiesContainer{
    display: table;
    /* justify-content: center; */
    margin: auto;
    left: 30%;
}

.CityCard-buttonDiv{
    /* width: 25%; */
    background-color: white;
    border-radius: 5px;
    border: 2px outset #d6d6d6;
    cursor: pointer;
    margin: 2px auto;
}

.CityCard-buttonDiv:hover{
    background-color: #d6d6d6;
}

