
.CreateUserForm-input {    
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #203f54;
    border-radius: 5px;
    transition: 0.25s;
}

.CreateUserForm-submitButton {
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px outset #2ecc71;
    padding: 5px 40px;
    width: 25;
    outline: none;
    color: #203f54;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}

.CreateUserForm-returnToLoginButton {
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px outset rgb(214, 0, 0);
    padding: 5px 40px;
    width: 25;
    outline: none;
    color: #203f54;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}

.CreateUserForm-submitButton:hover{
    background-color: #2ecc71;
}

.CreateUserForm-returnToLoginButton:hover {
    background-color: rgb(214, 0, 0);
}

.CreateUserForm-errors {
    color: red
}