.MapActiveTrip-titleDiv{
    text-align: center;
    width: 40%;
    display: inline-block;
    /* margin: 0; */
}

.MapActiveTrip-div{
    width: 100%;
    /* background-color: #8ab4f8; */
}

.MapActiveTrip-departureDiv{
    width: 30%;
    /* margin: 5px; */
    display: inline-block;
    text-align: center;
}

.MapActiveTrip-destinationDiv{
    width: 30%;
    /* margin: 5px; */
    display: inline-block;
    text-align: center;
}

.MapActiveTrip-pitStopFormButtonDiv{
    width: 100%;
    text-align: center;
}

.MapActiveTrip-pitStopFormButton{
    margin: 5px;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    border: 2px outset #BBE2C6;
    border-color: #BBE2C6;
    cursor: pointer;
}

.MapActiveTrip-pitStopFormButton:hover{
    background-color: #BBE2C6;
}

.MapActiveTrip-closeTripButtonDiv{
    text-align: center;
}

.MapActiveTrip-closeTripButton{
    width: 50%;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    border-color: red;
    cursor: pointer;
}

.MapActiveTrip-closeTripButton:hover{
    background-color: red;
    color: white;
}