.MapActiveRouteContainer-div{
    /* show on map */
    position: absolute;
    /* center */
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* styling */
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}