.MapActiveTripPitStop-div{
    display: inline-block;
    border: 5px outset rgb(235, 235, 235);
    border-radius: 5px;
    margin: 5px;
    width: 20%;
    /* overflow: hidden; */
}

.MapActiveTripPitStop-textSpacing{
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
}

.MapActiveTripPitStop-button{
    margin: 5px;
    width: 45%;
    background-color: white;
    border-radius: 5px;
    border: 2px outset #BBE2C6;
    border-color: #BBE2C6;
    cursor: pointer;
}

.MapActiveTripPitStop-button:hover{
    background-color: #BBE2C6;
}

.MapActiveTripPitStop-deleteButton{
    width: 50%;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    border-color: red;
    cursor: pointer;
}

.MapActiveTripPitStop-deleteButton:hover{
    background-color: red;
    color: white;
}

.MapActiveTripPitStop-deleteButtonDiv{
    text-align: center;
}