.MapPage-mapDiv{
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* margin: auto; */
    padding: 1px;
}

.MapPage-selectRouteDiv{
    margin: auto;
    position: relative;
}

.MapPage-map{
    height: 90vh;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 5%);
    border-radius: 10px;
    position: relative;
}

.MapPage-newRouteButton{
    position: absolute;
    width: 25%;
}

.MapPage-formDiv{
    /* position: absolute; */
    width: 100%;
    float: right;
    /* display: flex; */
    justify-content: center;
}

.MapPage-activeTripTitleDiv{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}