.MapPage-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 5px;
}

.MapPage-map{
    height: 90vh;
    width: 100%;
    position: flex;
}

.MapPage-mapContainer{
    margin: auto;
    height: 100vh;
    width: 100%;
}

.MapPage-newRouteButton{
    position: absolute;
    width: 25%;
}

.MapPage-formDiv{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}