.PitStopForm-submitButton{
    width: 50%;
    background-color: white;
    border-radius: 5px;
    border: 2px outset #BBE2C6;
    border-color: #BBE2C6;
    cursor: pointer;
    margin: 2px auto;
}

.PitStopForm-submitButton:hover{
    background-color: #BBE2C6;
}

.PitStopForm-closeButton{
    width: 50%;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    border-color: red;
    cursor: pointer;
}

.PitStopForm-closeButton:hover{
    background-color: red;
    color: white;
}

.PitStopForm-div{
    border: 5px outset rgb(235, 235, 235);
    border-radius: 5px;
    margin: auto;
    width: 98%;
    overflow: hidden;
}
