.RoadTripsPage-optionsDiv {
    text-align: center;
    align-items: center;
}

.RoadTripsPage-select{
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 20px;
    width: 50%;
    outline: none;
    color: #203f54;
    border-radius: 2px;
    transition: 0.25s;
}

.RoadTripsPage-container{
    /* text-align: center; */
    width: 75%;
    margin: auto;
}

.RoadTripsPage-pitStopCloseButton{
    background-color: white;
    border-radius: 5px;
    border-color: red;
    cursor: pointer;
    margin: 2px;
}