.TripCard-div{
    background-color: white;
    margin: 10px auto;
    border: 2px solid;
    border-color: #d6d6d6;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #999;
    text-align: center;
}

.TripCard-pitStopButton{
    width: 25%;
    background-color: white;
    border-radius: 5px;
    border: 2px outset;
    border-color: #d6d6d6;
    cursor: pointer;
    margin: 2px auto;
}

.TripCard-pitStopButton:hover{
    background-color: #d6d6d6;
}

.TripCard-likeButton{
    width: 25%;
    background-color: white;
    border-radius: 5px;
    border: 2px outset #BBE2C6;
    border-color: #BBE2C6;
    cursor: pointer;
    margin: 2px auto;
}

.TripCard-likeButton:hover{
    background-color: #BBE2C6;
}

.TripCard-h2{
    margin: 2px
}

.TripCard-closePitStopsButton{
    width: 25%;
    background-color: white;
    border-radius: 5px;
    border: 2px outset red;
    cursor: pointer;
    margin: 2px auto;
}

.TripCard-closePitStopsButton:hover{
    background-color: red;
    color: white;
}