.UserPageTrip-tripCardDiv{
    margin: 5px auto;
    width: 75%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #d6d6d6;
    padding: 5px;
    box-shadow: 1px 2px 2px #828282;
}

.UserPageTrip-tripCardTripContents{
    margin: auto;
    width: 100%;
}

.UserPageTrip-tripTitleH2{
    text-align: center;
    text-decoration: underline;
}

.UserPageTrip-tripCardDeparture{
    width: 90%;
    display: inline-block;
    margin: 5px;
    border-radius: 2px;
    border: 2px solid #d6d6d6;
}

.UserPageTrip-tripCardDestination{
    width: 30%;
    display: inline-block;
    margin: 5px;
    /* border: 5px outset rgb(235, 235, 235); */
}

.UserPageTrip-deleteTripButton{
    float: right;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    border-color: red;
    cursor: pointer;
}

.UserPageTrip-deleteTripButton:hover{
    background-color: red;
    color: white;
}

.UserPageTrip-pitStopsDiv{
    text-align: center;
}

.UserPageTrip-showPitStopsButton{
    margin: 5px;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    border: 2px outset #d6d6d6;
    cursor: pointer;
}

.UserPageTrip-showPitStopsButton:hover{
    background-color: #d6d6d6;
}

.UserPageTrip-distanceH4{
    display: inline-block;
    margin-left: 10px;
}

.UserPageTrip-activeTripButton{
    float: left;
    margin: 5px;
    width: 25%;
    background-color: white;
    border-radius: 5px;
    border: 2px outset #d6d6d6;
    cursor: pointer;
}

.UserPageTrip-activeTripButton:hover{
    background-color: #d6d6d6;
}

.UserPageTrip-departureDestination{
    width: 30%;
    display: inline-block;
    margin: 5px;
}