.UserPitStop-div{
    border-radius: 2px;
    border: 2px solid #d6d6d6;
    margin: 15px auto;
    width: 70%;
}

.UserPitStop-button{
    background-color: white;
    border-radius: 5px;
    border: 2px outset #d6d6d6;
    cursor: pointer;
    margin: 5px;
}

.UserPitStop-button:hover{
    background-color: #d6d6d6;
}

.UserPitStop-deleteButton{
    background-color: white;
    border-radius: 5px;
    border-color: red;
    cursor: pointer;
    margin: 5px;
}

.UserPitStop-deleteButton:hover{
    background-color: red;
    color: white;
}