.headerText{
    text-align: center;
    cursor: pointer;
}

.subtext-box{
    border: solid 2px rgb(152, 152, 152);
    border-radius: 5px;
    padding: 5px;
    margin: 10px
}

.description-div{
    padding: 5px;
    margin: 10px;
}